<tr>
  <td>{{#linkTo 'boards.show' board}}{{board.name}}{{/linkTo}}</td>
  <td><a href='../recipes/view.html'>Recipe name</a></td>
  <td><span class="label label-{{statusClass}}">{{status}} {{statusClass}}</span></td>
  <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
</tr>