<tr>
  <td>{{#linkTo 'recipe.index' recipe}}{{recipe.name}}{{/linkTo}}</td>
  <td>{{recipe.frequency}}</td>
  <td>{{recipe.timeframe}}</td>
  <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
</tr>