@import 'components/register';
@import 'components/navbar';
@import 'components/switchers';


body {
  padding-top: 60px;
}

.container {
  max-width: 800px;
}

.form-control-static.editable {
  border-bottom: 1px dotted #70c7cf;
}

