<div class="container">
  <h2>
    Sterling Cooper
  </h2>
  <a href='index.html'> <i class="fa fa-arrow-circle-o-left"></i> Back to client list</a>

    <ul class="nav nav-tabs">
      <li class="active">
        {{#link-to 'clients'}}
          <i class="fa fa-cutlery"></i>
          Recipes
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'clients'}}
          <i class="fa fa-fighter-jet"></i>
          Resources
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'clients'}}
          <i class="fa fa-lock"></i>
          Access
        {{/link-to}}
      </li>
    </ul>

      <h2>Virtual Office Manager</h2>
      <p class="lead">A senior bookkeeper and coordinator for your virtual office</p>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="images/jason.png" alt="Jason Hill">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Jason Hill</h4>
                  Jason is a badass for this reason and that reason.
                </div>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Base bookkeeping package</td>
            <td class='text-right'>$200.00</td>
          </tr>
          <tr>
            <td>Follow up with accounts receivable (phone &amp; email)</td>
            <td class='text-right'>$250.00</td>
          </tr>
        </tbody>
      </table>
      <i class="fa fa-plus-circle"></i> <a href='#'> Get bookkeeping add-ons</a>
      <p> </p>

      <h2>Activecell Doers</h2>
      <p class="lead">Our pool of talented virtual assistants</p>
      <table class="table">
        <tbody>
          <tr>
            <td>[INSERT SLIDER HERE]</td>
            <td>30 hours</td>
            <td class='text-right'>$150.00</td>
          </tr>
        </tbody>
      </table>

      <h2>Specialists</h2>
      <p class="lead">Complement your generalist work force with experts</p>
      <table class="table">
        <tbody>
          <tr>
            <td>Virtual CFO: Quarterly</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Adam Neary</td>
            <td><a href=''>adam@activecell.com</a></td>
            <td><a href=''>617-314-0825</td>
            <td class='text-right'>$85.00</td>
          </tr>
          <tr>
            <td>Accountant</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td><button class='btn btn-default btn-sm'><i class="fa fa-plus-circle"></i> Set up now</button></td>
            <td colspan='3'>
            </td>
          </tr>
          <tr>
            <td>Lead Investor</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>David Mars</td>
            <td><a href=''>adam@activecell.com</a></td>
            <td><a href=''>617-314-0825</td>
            <td class='text-right'>--</td>
          </tr>
        </tbody>
      </table>
      <i class="fa fa-plus-circle"></i> <a href=''> Invite another specialist</a>

      <h2>Your tools</h2>
      <p class="lead">Maximize your time by putting smart tools to work.</p>
      <table class="table">
        <tbody>
          <tr>
            <td>Accounting</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Quickbooks Online</td>
            <td><a href=''>Take me there</a></td>
            <td class='text-right'>Included</td>
          </tr>
          <tr>
            <td>Accounts receivable</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Bill.com</td>
            <td><a href=''>Take me there</a></td>
            <td class='text-right'>Included</td>
          </tr>
          <tr>
            <td>Accounts payable</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Bill.com</td>
            <td><a href=''>Take me there</a></td>
            <td class='text-right'>Included</td>
          </tr>
          <tr>
            <td>Project management</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Basecamp</td>
            <td><a href=''>Take me there</a></td>
            <td class='text-right'>Included</td>
          </tr>
          <tr>
            <td>Payroll</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Quickbooks Payroll</td>
            <td><a href=''>Take me there</a></td>
            <td class='text-right'>$39.00</td>
          </tr>
          <tr>
            <td>File management</td>
            <td></td>
            <td><button class='btn btn-default btn-sm'><i class="fa fa-plus-circle"></i> Set up now</button></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Document scanning</td>
            <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
            <td>Shoeboxed</td>
            <td><a href=''>Take me there</a></td>
            <td class='text-right'>Free</td>
          </tr>
        </tbody>
      </table>
      <i class="fa fa-plus-circle"></i> <a href=''> Get add-ons</a>
      <div class="text-right">
        <button class='btn btn-default btn-sm'>Apply changes</button><br />
        <small><strong>Est. monthly cost</small></strong><br />
        <p class='lead'>$638.99</p>
      </div>
      <div class="text-right">
        <small><strong>Less 20% <a href=''>discount</a></small></strong><br />
        <p class='lead'>($127.80)</p>
      </div>
      <div class="text-right">
        <small><strong>Final monthly cost</small></strong><br />
        <p class='lead'>$511.19</p>
      </div>
    </div>
</div><!-- end .container -->