{{#view App.ModalView}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" {{action close target="view"}}>Close</button>
    <button type="button" class="btn btn-primary" {{action save}}>Save changes</button>
  </div>
{{/view}}