<p class="lead">Assemble a killer team and smart tools to get things done.</p>

<h2><i class="fa fa-gift"></i> Activecell White Glove Service™</h2>
<p class="lead">Our talented pool of on-demand team members</p>

{{#view App.StaffSliderTable}}
  <table class="table">
    <thead>
      <th>Role</th>
      <th>Rate</th>
      <th class="col-xs-3" >Volume</th>
      <th class="col-xs-2 text-right"></th>
      <th class="col-xs-2 text-right">Cost</th>
    </thead>
    <tbody>
      <tr>
        <td>Executive assistant</td>
        <td>$10.00 / hr</td>
        <td style="vertical-align: middle;"><div id="slider1"></div></td>
        <td class='text-right'><span class="js-time1"></span> <em>hours</em></td>
        <td class='text-right'>$<span class="js-amt1"></span>.00</td>
      </tr>
      <tr>
        <td>Bookkeeper (Global)</td>
        <td>$25.00 / hr</td>
        <td style="vertical-align: middle;"><div id="slider2"></div></td>
        <td class='text-right'><span class="js-time2"></span> <em>hours</em></td>
        <td class='text-right'>$<span class="js-amt2"></span>.00</td>
      </tr>
      <tr>
        <td>Bookkeeper (North America)</td>
        <td>$50.00 / hr</td>
        <td style="vertical-align: middle;"><div id="slider3"></div></td>
        <td class='text-right'><span class="js-time3"></span> <em>hours</em></td>
        <td class='text-right'>$<span class="js-amt3"></span>.00</td>
      </tr>
      <tr>
        <td>CFO</td>
        <td>$100.00 / hr</td>
        <td style="vertical-align: middle;"><div id="slider4"></div></td>
        <td class='text-right'><span class="js-time4"></span> <em>hours</em></td>
        <td class='text-right'>$<span class="js-amt4"></span>.00</td>
      </tr>
    </tbody>
  </table>
{{/view}}

<button class='btn btn-primary'>Learn mode about Activecell White Glove Service™</button>

<h2><i class="fa fa-cloud"></i> Integrated cloud services</h2>
<p class="lead">Maximize your time by putting smart tools to work.</p>

<table class="table">
  <tbody>
    <tr>
      <td>eSignatures</td>
      <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
      <td>Right Signature</td>
      <td><a href=''>Take me there</a></td>
      <td class='text-right'>Included</td>
    </tr>
    <tr>
      <td>Accounts receivable</td>
      <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
      <td>Bill.com</td>
      <td><a href=''>Take me there</a></td>
      <td class='text-right'>Included</td>
    </tr>
    <tr>
      <td>Accounts payable</td>
      <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
      <td>Bill.com</td>
      <td><a href=''>Take me there</a></td>
      <td class='text-right'>Included</td>
    </tr>
    <tr>
      <td>Project management</td>
      <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
      <td>Basecamp</td>
      <td><a href=''>Take me there</a></td>
      <td class='text-right'>Included</td>
    </tr>
    <tr>
      <td>Payroll</td>
      <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
      <td>Quickbooks Payroll</td>
      <td><a href=''>Take me there</a></td>
      <td class='text-right'>$39.00</td>
    </tr>
    <tr>
      <td>File management</td>
      <td></td>
      <td><button class='btn btn-default btn-sm'><i class="fa fa-plus-circle"></i> Set up now</button></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Document scanning</td>
      <td><img src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=30"></td>
      <td>Shoeboxed</td>
      <td><a href=''>Take me there</a></td>
      <td class='text-right'>Free</td>
    </tr>
  </tbody>
</table>

<i class="fa fa-plus-circle"></i> <a href=''> Get add-ons</a>

<div class="text-right">
  <button class='btn btn-default btn-sm'>Apply changes</button><br />
  <small><strong>Est. monthly cost</small></strong><br />
  <p class='lead'>$638.99</p>
</div>