<div class="container">
  <div class="row">
    <div class = "col-lg-8">
      <h2><i class="fa fa-tasks"></i> Your Recipes</h2>
      <p class="lead">Recipes are recurring sets of task lists</p>
      <table class="table">
        <thead>
          <tr>
            <th>Recipe</th>
            <th>Frequency</th>
            <th>On</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href='view.html'>Monthly bookkeeping</a></td>
            <td>Monthly</td>
            <td>5th day of the month</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
          <tr>
            <td><a href='view.html'>Forecast review</a></td>
            <td>Quarter</td>
            <td>1st day of the quarter</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
          <tr>
            <td><a href='view.html'>Update competitive analysis</a></td>
            <td>Quarter</td>
            <td>15th day of the quarter</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
          <tr>
            <td><a href='view.html'>Build market survey for a new product</a></td>
            <td>As needed</td>
            <td>--</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
        </tbody>
      </table>
      <a data-toggle="modal" href="#addBoard" class='btn btn-primary'>
        <i class="fa fa-plus"></i> Add a new recipe
      </a>
    </div>
  </div>
</div><!-- end .container -->