#activecell-header-logo {
  height: 30px;
  margin: -12px 10px -10px 0px
}
.navbar-brand {
  font-family: arno-pro;
  font-size: 25px;
}
#header-avatar {
  padding-top: 8px;
  padding-bottom: 0px;
  img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}
.nav-tabs li {
  cursor: pointer;
}