<div class="container">
  <div class="row">
    <div class = "col-xs-10">
      <h2><i class="fa fa-lock"></i> Access (Connected Bookkeepers)</h2>
      <p class="lead">Team members do not have access to clients until added!</p>
      <table class="table">
        <thead>
          <tr>
            <th>Team member</th>
            <th>Role</th>
            <th>Last logged in</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Don Draper</td>
            <td class='text-success'>Owner</td>
            <td>Oct 1, 2013</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
          <tr>
            <td>Roger Sterling</td>
            <td>Manager</td>
            <td>Nov 10, 2013</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
          <tr>
            <td>Peggy Olson</td>
            <td>Associate</td>
            <td>Sep 4, 2013</td>
            <td><button class='btn btn-danger btn-xs'><i class="fa fa-times-circle-o"> Remove</button></td>
          </tr>
        </tbody>
      </table>
      <a data-toggle="modal" href="#addBoard" class='btn btn-primary'>
        <i class="fa fa-plus"></i> Invite a new team member
      </a>
    </div>
  </div>
</div><!-- end .container -->