<h2><i class="fa fa-tasks"></i> Account</h2>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="images/jason.png" alt="Jason Hill">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Jason Hill</h4>
    Jason is a badass for this reason and that reason.
  </div>
</div>
<h4>Email settings</h4>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Email me when a board is completed.
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Email me when someone references me in a comment.
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Email me when someone comments on a task assigned to me.
        </label>
      </div>
    </div>
  </div>
</form>

<h2><i class="fa fa-tasks"></i> Your company</h2>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Last logged in</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Don Draper</td>
      <td>Oct 1, 2013</td>
    </tr>
    <tr>
      <td>Roger Sterling</td>
      <td>Sep 4, 2013</td>
    </tr>
    <tr>
      <td>Peggy Olson</td>
      <td><button class="btn btn-sm btn-default">Invite now</button></td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <button class='btn btn-default btn-sm'>Update credit card</button><br />
  <small>This account is billed to: <strong>Amex 1003</strong></small>
</div>
<div class="text-left">
  <a href="#" class='text-danger'>Close this account…</a>
</div>