<p class="lead">This is a log of system-generated actions.</p>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Action</th>
      <th class='text-right'>Date</th>
      <th class='text-right'>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{id}}</td>
        <td>{{{description}}}</td>
        <td class='text-right'>{{dateString}}</td>
        <td class='text-right'>{{status}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>