<h2><i class="fa fa-tasks"></i> Activity</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Action</th>
      <th>Date and time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{id}}</td>
        <td>{{{description}}}</td>
        <td>{{dateString}}</td>
        <td>{{status}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>