<p class="lead">Manage your clients in one place. We'll take care of the rest.</p>

<table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'company' id}}{{name}}{{/link-to}}</td>
        <td class='text-right'>
          <button {{action openModal 'client_delete' this}} class='btn btn-danger btn-xs'>
            <i class="fa fa-times-circle-o"></i>
            Archive
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a {{action openModal 'client_create'}} class='btn btn-primary'>
  <i class="fa fa-plus"></i> Add a new client
</a>