<div class="container">
  <h2>
    {{name}}
  </h2>

  {{#link-to 'clients'}}
    <i class="fa fa-arrow-circle-o-left"></i>
    Back to your client list
  {{/link-to}}

  <ul class="nav nav-tabs">
    <li class="active">
      {{#link-to 'client.recipes' id}}
        <i class="fa fa-cutlery"></i>
        Recipes
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'client.resources' id}}
        <i class="fa fa-fighter-jet"></i>
        Resources
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'client.access' id}}
        <i class="fa fa-lock"></i>
        Access
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'client.activity' id}}
        <i class="fa fa-truck"></i>
        Activity
      {{/link-to}}
    </li>
  </ul>

  {{outlet}}

</div><!-- end .container -->