<div class="container">
  <div class="row">
    <div class = "col-lg-12">
      <div class="page-header">
        <h1><i class="fa fa-thumbs-up"></i> Save 10% on your bill for each company you refer.</h1>
      </div>
    </div>
  </div>
</div><!-- end .container -->