<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <img src="images/activecell-full-color-darkBG-small.png" alt="Activecell" />
      </div>
    </div>
  </div>
</header><!-- end header -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <h2 class="text-center">Let's get started.</h2>
      <div class="well">
        <p class="text-center">
          <img src="images/logo-quickbooks_small.png" alt="Intuit QuickBooks" class="intuit-small">
        </p>
        <p class="text-center">
          <img src="images/button_signinwithintuit_horiz_small.png" alt="Intuit QuickBooks" class="intuit-small">
        </p>
      </div>

      <div class="hr"></div>

      <p class="text-center">
        <small>
          Currently, we only support <br>
          QuickBooks Online and QuickBooks Desktop.
        </small>
      </p>
    </div>
  </div>
</div><!-- end .container -->