<!-- le notification modal -->
<div class="modal fade" id="notifications" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Notifications</h4>
      </div>
      <div class="modal-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="https://2.gravatar.com/avatar/8a81be5788345ffdf759aeae606ff716?d=https%3A%2F%2Fidenticons.github.com%2F0fd1f4d6a647daf66b2a3f79ecd7eb36.png&amp;s=40">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><span class="label label-primary">adamneary</span> commented on a tasks
              <a data-toggle="modal" href="#itemDetail">#1 Jack-in-the-box lorem</a></h4>
            <hr>
           <p>
             <span class="label label-primary">@kusic</span>
             Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
              <span title="11/8/2013 7:30:07 PM">Nov 8 at 7:30 pm</span>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="https://1.gravatar.com/avatar/e55c09439e68fbaaf1231c9e725a8bdc?d=https%3A%2F%2Fidenticons.github.com%2F6789e600d8abaf5d52d427355d513fd2.png&s=40">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><span class="label label-primary">@kusic</span> commented on a tasks
              <a data-toggle="modal" href="#itemDetail">#1 Jack-in-the-box lorem</a></h4>
            <hr>
            <p>
              <span class="label label-primary">@adamneary</span>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <span title="11/8/2013 7:32:07 PM">Nov 8 at 7:32 pm</span>
          </div>
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Close</button>
      </div><!-- end .modal-footer -->
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->