<p class="lead">Assemble a killer team and smart tools to get things done.</p>

<h2><i class="fa fa-gift"></i> Activecell White Glove Service™</h2>
<p class="lead">Our talented pool of on-demand team members</p>

{{#view App.StaffSliderTable}}
  <table class="table">
    <thead>
      <th>Role</th>
      <th class='text-right'>Hourly Rate</th>
      <th class="col-xs-3" ></th>
      <th class="col-xs-2 text-right">Volume</th>
      <th class="col-xs-2 text-right">Cost</th>
    </thead>
    <tbody>
      <tr>
        <td>Executive assistant</td>
        <td class='text-right'>$10.00</td>
        <td style="vertical-align: middle;"><div id="slider1"></div></td>
        <td class='text-right'><span class="js-time1"></span> <em>hours</em></td>
        <td class='text-right'>$<span class="js-amt1"></span>.00</td>
      </tr>
      {{#unless parent}}
        <tr>
          <td>Bookkeeper (Global)</td>
          <td class='text-right'>$25.00</td>
          <td style="vertical-align: middle;"><div id="slider2"></div></td>
          <td class='text-right'><span class="js-time2"></span> <em>hours</em></td>
          <td class='text-right'>$<span class="js-amt2"></span>.00</td>
        </tr>
        <tr>
          <td>Bookkeeper (North America)</td>
          <td class='text-right'>$50.00</td>
          <td style="vertical-align: middle;"><div id="slider3"></div></td>
          <td class='text-right'><span class="js-time3"></span> <em>hours</em></td>
          <td class='text-right'>$<span class="js-amt3"></span>.00</td>
        </tr>
      {{/unless}}
      <tr>
        <td>CFO</td>
        <td class='text-right'>$100.00</td>
        <td style="vertical-align: middle;"><div id="slider4"></div></td>
        <td class='text-right'><span class="js-time4"></span> <em>hours</em></td>
        <td class='text-right'>$<span class="js-amt4"></span>.00</td>
      </tr>
    </tbody>
  </table>
{{/view}}

<button class='btn btn-primary'>Learn mode about Activecell White Glove Service™</button>

<h2><i class="fa fa-cloud"></i> Integrated cloud services</h2>
<p class="lead">Maximize your time by putting smart tools to work.</p>

<table class="table">
  <thead>
    <th>Category</th>
    <th>Service</th>
    <th></th>
    <th class="col-xs-2 text-right">Cost</th>
  </thead>
  <tbody>
    {{#each services}}
      <tr>
        <td>{{category}}</td>
        <td>{{name}}</td>
        <td><a href=''>Take me there</a></td>
        <td class='text-right'>${{price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<i class="fa fa-plus-circle"></i> <a href=''> Get add-ons</a>

<div class="text-right">
  <button class='btn btn-default btn-sm'>Apply changes</button><br />
  <small><strong>Est. monthly cost</small></strong><br />
  <p class='lead'>$638.99</p>
</div>